body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container{
    display: flex;
}

h1{
    margin: 0px;
    padding-left: 10px;
    font-size: 42px;
    line-height: 65px;
}

.fixed-color-1{
    color:#FFC300;
}

.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 7%;
}

.half-width-img{
    width: 46%;
    padding-right: 22%;
    padding-top: 5%;
    float: right;
}

.half-width-img2{
    width: 70%;
    padding-right: 22%;
    padding-top: 5%;
    float: left;
}

.half-width-img-3{
    width: 70%;
    padding-right: 35%;
    padding-top: 5%;
    float: right;
}

.thrird-half-width{
    width: 46%;
    padding-right: 22%;
    padding-top: 10%;
    float: right;
}

.fourth-half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 13%;
}

.ver-line{
    height: 130px;
    width: 5px;
    background-color: #FF5733;
    border-radius: 99px;
    float: left;
}

.para-size{
    font-size: 15px;
}

.button-style{
    text-decoration: none;
    background-color: #FF5733;
    color: white;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 5px;
}

/* .portfoliosec{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #7395AE;
} */

.row{
    margin-left: 7%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-1{width: 29%;}

.box{
    padding: 20px 10px 20px 10px;
    /* text-align: center;     */
    margin: 24px;
    /* padding: 30px 18px 34px 18px; */
    border-radius: 20px;
    /* background-color: whitesmoke; */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15),
    0 2px 3px 0 rgba(0, 0, 0, .1);
}

.section-title{
    font-size: 42px;
    text-align: center;
}

.illustrator-size{
    height: 120px;
    width: auto;
    align-items: left;
}

#sky-blue{
    background-color: rgb(233, 241, 243);
}

#baby-pink{
    background-color:rgb(241, 228, 241);
}

#light-orange{
    background-color: rgb(245, 234, 231);
}



